#!/bin/bash

#
# sample git post-receive hook
#
# To use:
#   # copy file into place
#   cp post-receive.sample path/to/repo.git/hooks/post-receive 
#   
#  # edit PUBLIC_DIR below

# fail on error
set -eu

# path to public directory
PUBLIC_DIR=~/sites/pmdn.org/data/git/covid19-us/public

unset GIT_DIR
cd "$PUBLIC_DIR"
exec git pull
