#!/bin/bash

#
# sample git post-receive hook
#
# To use:
#   # copy file into place
#   cp post-receive.sample path/to/repo.git/hooks/post-receive 
#   
#  # edit PUBLIC_DIR below

# path to public directory
PUBLIC_DIR=~/sites/pmdn.org/data/git/covid19-us/public

# fail on error
set -eu

# switch to public repo directory
cd "$PUBLIC_DIR"
unset GIT_DIR

# pull from upstream
exec git pull origin master
